/* Give your page a fun background color */
.body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/* Make the header and footer a different color from the background */
.header {
    color: white;
}
/* Align the h1 containing your name in the center of the header*/
.h1 {
    justify-content: center;
}
/* Make your p tag a different color and italic */
.p1 {
    font-weight: italic;
    color: gray;
}
/* Put a border around your image */
.image {
    border: 3px solid red;
}
/* Change the font-family of your list */
.list {
    font-family: 'Times New Roman', Times, serif
}